* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    font-family: "poppins", serif;
}

h2 {
    color: #6070ff;
    font-weight: 700;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1% 10%;
}

header a {
    text-decoration: none;
    padding: 7px;
}

header a:hover {
    background-color: bisque;
    border-radius: 50%;
    padding: 5%;  
}

.home {
    background-image: url(./imagen/home.svg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 87vh;
    padding: 0 1.8rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

h1 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.5;
    color: #172b4d;
}

h1:hover {
    font-size: 40px;
    cursor: pointer;
}

.home p {
    font-weight: 400;
    font-size: 1rem;
    color: #344563;

    
}

.fa-brands {
    color: #505f79;
    text-decoration: none;
    font-size: larger;
}

ul {
    padding: 0;
}

button {
    color: #fff;
    background-color: black;
    padding: 15px;
}

button:hover {
    color: black;
    background-color: #fff;
    border: 4px solid black;
}

button:after {
    color: black;
    background-color: #fff;
    border: 1px solid black;
}

/*Proyectos*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }